<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Успеваемость{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'accounts/styles.css' %}">
</head>
<body>
    <nav>
        <ul>
            {% if user.is_authenticated %}
                <li>
                    <form action="{% url 'logout' %}" method="post" style="display:inline;">
                        {% csrf_token %}
                        <button type="submit">Выйти</button>
                    </form>
                </li>
            {% else %}
                <li><a href="{% url 'login' %}">Войти</a></li>
                <li><a href="{% url 'register' %}">Зарегистрироваться</a></li>
            {% endif %}
        </ul>
    </nav>

    <div class="container">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>