<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Домашняя страница</title>
</head>
<body>
    <h1>Добро пожаловать на домашнюю страницу!</h1>
    {% if user.is_authenticated %}
        <p>Привет, {{ user.username }}! <a href="{% url 'logout' %}">Выйти</a></p>
    {% else %}
        <p><a href="{% url 'login' %}">Войти</a> или <a href="{% url 'register' %}">Зарегистрироваться</a></p>
    {% endif %}
</body>
</html>