<!-- home.html -->
{% extends 'base.html' %}

{% block title %}Домашняя страница{% endblock %}

{% block content %}
<h1>Добро пожаловать на сайт<br>отслеживания успеваемости!</h1>
{% if user.is_authenticated %}
    <p>Привет, {{ user.username }}!</p>
    
    {% if user.is_superuser %}
        <h2>Список зарегистрированных студентов:</h2>
        <table border="1">
            <tr>
                <th>Имя пользователя</th>   
                <th>Email</th>
            </tr>
            {% for registered_user in users %}
            <tr>
                <td>{{ registered_user.username }}</td>
                <td>{{ registered_user.email }}</td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="2">Нет зарегистрированных пользователей.</td>
            </tr>
            {% endfor %}
        </table>
    {% else %}
        {% if questions %}
            <h2>Пройдите тест</h2>
            <form method="POST">
                {% csrf_token %}
                <div id="questions-container">
                    {% for question in questions %}
                        <div>
                            <label>{{ question.text }}</label><br>
                            {% for answer in question.answers.all %}
                                <input type="radio" name="question_{{ question.id }}" value="{{ answer.id }}"> {{ answer.text }}<br>
                            {% endfor %}
                        </div>
                    {% endfor %}
                </div>
                <button type="submit">Отправить</button>
            </form>
        {% else %}
            <p>Нет доступных вопросов для теста.</p>
        {% endif %}
    {% endif %}
{% else %}
    <p>Вы не авторизованы.</p>
{% endif %}
{% endblock %}